html{
    font-family: 'Nunito', sans-serif;
    background-color: #BFBFBF;
    font-size:3vh;
}

html,body{
    margin:0px;
    padding:0px;
    height:100%;
}

body{
    background-color: white;
    margin-left:auto;
    margin-right:auto;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1,h2{
    margin:0px;
}


/* styling for specific elements */

.number-display{
    font-family: 'Nunito Sans', sans-serif;
}

.currency-label{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}
.currency-label h2{
    font-size: 3em;
}
.currency-label img{
    height:3h;
    width:3vh;
    margin-left:2vh;
}

.currency-input{
    width: 100%;
    height: 25vh;

    background-color: #00FF94;
    color:white;
    border:none;

    text-align:center;
    font-size: 3em;
}

#curr-1{
    margin-bottom: 5vh;
}




#update-display{
    top:-20vh;
    width:50vw;
    padding:0.5em;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#update-display.active{
    top:0em;
}

#update-display p{
    font-size: 1em;
    text-align:center;
    margin:0px;
}

#update-display .option-buttons{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;

    padding:0.25em 1em 0.25em 1em;
}

#update-display .option-buttons button{
    padding:0.5em 1em 0.5em 1em
}




#curr-select-top{
    width: 100%;
    height: 50vh;
    
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

    position:absolute;
    top:-52vh;
}
#curr-select-top.active{
    top:0vh;
}
#curr-select-top button{
    margin:0.25em;
    font-size:2em;
}
#curr-select-top button .checkmark{
    height:1em;
    width:1em;
    position:relative;
    top:0.1em;
    display:none;
}
#curr-select-top button.selected .checkmark{
    display:inline-block;
}



/* general attributes to add to elements */

.body-width{
    width:100%;
    max-width: 1000px;
}

.shadow{
    -moz-box-shadow: 3px 3px 15px 6px #00000075;
    -webkit-box-shadow: 3px 3px 15px 6px #00000075;
    box-shadow: 3px 3px 15px 6px #00000075;
}

.dialog-popup{
    position:absolute;
    
    background-color: #000000D8;
    color:white;

    -webkit-transition: top 1s;
    transition: top 1s;
}

button{
    border: none;
    background-color: #FFFFFF00;
    color:inherit;
    font-family:inherit;
}

button:hover{
    border: 1px solid white;
}

button.highlight{
    background-color: #FF4AED;
}

